.rud-actions-cn{
    transition: transform 0.5s;
}

.rud-actions-cn:hover{
    transform: scale(1.05);
}

.rud-actions-cn:focus-within{
    transform: scale(1.05);
}


.rud-actions-cn > #rud-actions {
    z-index: -1;
    transform: translateY(-50px);
    animation: slide-up-btns .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

.rud-actions-cn:hover > #rud-actions {
    z-index: -1;
    transform: translateY(-50px);
    opacity: 0%;
    animation: slide-down-btns .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

#rud-actions:focus-within{
    animation: slide-down-btns .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

@keyframes slide-down-btns {
  0% {
    transform: translateY(-50px);
    opacity: 0%;
  }

  100% {
    transform: translateY(0px);
    opacity: 100%;
  }
}

@keyframes slide-up-btns {
  0% {
    transform: translateY(0px);
    opacity: 100%;
  }

  100% {
    transform: translateY(-50px);
    opacity: 0%;
  }
}

