.password-input input[type='password']{
    font-size: 1.25rem;
    width: 100%
}

.password-input-cn button {
    font-size: 0.8rem !important;
}

label:has(.password-input-cn) {
    align-items: start !important;
}

.password-input-cn:has(input[type='password']:invalid) button {
    outline: 1px solid #BBB;
    background-color: #EEE;
    color: #AAA;
    pointer-events: none;
}